body {
  background-color: darkred;
}

main {
  background-color: white;
  width: 70%;
  margin: 0 auto 1rem auto;
  padding: 0 1rem 100% 1rem;
}

header {
  background-color: lightgray;
  padding: 2rem 1rem;
}

header img {
  float: right;
  max-width: 200px;
}

header h1 {
  color: darkgreen;
  font-weight: 600;
  font-size: 3.5rem;
}

#contact-button {
  background-color: darkgreen;
  color: white;
  border-radius: 0.25rem;
  border: none;
  font-size: x-large;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

#tagline {
  font-size: xx-large;
  font-weight: 600;
}

fieldset {
  border: 1px solid darkgreen;
  padding: 1rem;
  margin-bottom: 1.25rem;
}

legend {
  color: darkgreen;
  font-variant: small-caps;
  font-size: 1.5rem;
  padding-left: 1rem;
  width: 100%;
}
