<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papa Leo's Pizza</title>

    <!-- Link to JavaSript -->
    <script src="/js/pizza.js" defer></script>

    <!-- Favicon -->
    <link rel="icon" href="/images/pizzaicon.jpg" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/pizza-styles.css" />
  </head>
  <body>
    <main>
      <header>
        <img src="/images/pizzaguy.jpg" alt="image of pizzaguy" />
        <h1>Papa Leo's Pizza</h1>
        <p id="tagline">Serving GRC students for 50 years!</p>
        <hr />
        <p>
          "Freshly baked, cheesy, and topped with your favorites—order the pizza
          that delivers happiness in every slice!"
        </p>
        <a id="contact-button" href="#" role="button">Contact Us</a>
      </header>
      <h1>Thank you for confirming the order!</h1>
    </main>
  </body>
</html>
