<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Papa Leo's Pizza</title>

    <!-- Link to JavaSript -->
    <script src="/js/pizza.js" defer></script>

    <!-- Favicon -->
    <link rel="icon" href="/images/pizzaicon.jpg" />

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/pizza-styles.css" />
  </head>
  <body>
    <main>
      <header>
        <img src="/images/pizzaguy.jpg" alt="image of pizzaguy" />
        <h1>Papa Leo's Pizza</h1>
        <p id="tagline">Serving GRC students for 50 years!</p>
        <hr />
        <p>
          "Freshly baked, cheesy, and topped with your favorites—order the pizza
          that delivers happiness in every slice!"
        </p>
        <a id="contact-button" href="#" role="button">Contact Us</a>
      </header>
      <form id="pizza-form" action="#" method="get">

        <!-- Contact Info -->
        <fieldset>
          <legend>Contact Info</legend>
          <label for="fname">First Name:</label>
          <span id="err-fname" class="error">First name cannot be empty!</span>
          <input
            type="text"
            id="fname"
            name="fname"
            placeholder="Enter first name"
            width="100%"
          />
          <br />
          <label for="lname">Last Name:</label>
          <span id="err-lname" class="error">Last name cannot be empty!</span>
          <input
            type="text"
            id="lname"
            name="lname"
            placeholder="Enter last name"
            width="100%"
          />
          <br />
          <label for="myEmail">Email address:</label>
            <span id="err-email" class="error">Email needs to be valid!</span>
          <input type="email" placeholder="Enter email" width="100%" id="myEmail" />
        </fieldset>

        <!-- Pickup or Delivery -->
         
        <fieldset>
          <legend>Select Pickup or Delivery</legend>
          <span id="err-method" class="error">Please choose a method!</span>
          <input type="radio" id="pickup" name="method" value="pickup" />
          <label for="pickup">Pickup</label><br />
          <input type="radio" id="delivery" name="method" value="delivery" />
          <label for="pickup">Delivery</label><br />
        </fieldset>

        <!-- Toppings -->
        <fieldset>
          <legend>Select Toppings</legend>
           <span id="err-topping" class="error">Please choose a topping!</span>
          <input
            type="checkbox"
            id="pepporoni"
            name="toppings[]"
            value="pepporoni"
          />
          <label for="pepporoni">Pepporoni</label><br />
          <input
            type="checkbox"
            id="pinnaple"
            name="toppings[]"
            value="pinnaple"
          />
          <label for="pinnaple">Pinnaple</label><br />
          <input
            type="checkbox"
            id="greenpepper"
            name="toppings[]"
            value="greenpepper"
          />
          <label for="greenpepper">Green Pepper</label><br />
          <input
            type="checkbox"
            id="sausage"
            name="toppings[]"
            value="sausage"
          />
          <label for="sausage">Sausage<br />
        </fieldset>

         <fieldset>
          <legend>Pizza Size</legend>
          <select name="size" id="size">
            <option value="none">-- Select a Size --</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select>
         </fieldset>
        <!-- Add an Order Buttom -->
        <button type="submit" id="contact-button">Submit Order</button>
      </form>
    </main>
  </body>
</html>
